h1.intro{
  color: red;
}

h2.intro{
  color: blue;
}

div.intro{
  font-family: sans-serif;
  color: purple;

}

img.intro{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}
span.italic {
  font-style: italic;
  background-color: yellow;
}
